<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team6.dao.CommentDAO">

	<resultMap type="kr.kh.team6.model.vo.CommentVO"
		id="CommentMap">
		<id property="co_num" column="co_num" />
		<result property="co_content" column="co_content" />
		<result property="co_po_num" column="co_po_num" />
		<result property="co_me_id" column="co_me_id" />
		<collection property="post"
			ofType="kr.kh.team6.model.vo.PostVO" column="co_po_num"
			select="selectPost" />
	</resultMap>

	<select id="getAdminCommentList"
		resultType="kr.kh.team6.model.vo.CommentVO">
		select * from comment limit 10
	</select>

	<insert id="insertComment">
		insert into comment (co_content, co_po_num, co_me_id)
		values(#{comment.co_content},#{comment.co_po_num},#{comment.co_me_id})
	</insert>
	<select id="selectComments"
		resultType="kr.kh.team6.model.vo.CommentVO">
		select * from comment where co_po_num=#{num} order by
		co_num desc
	</select>

	<select id="selectPost" resultType="kr.kh.team6.model.vo.PostVO">
		select * from post where
		po_num = #{po_co_num}
	</select>

	<delete id="deleteComment">
		delete from comment where co_num=#{cNum}
	</delete>

	<delete id="deleteAdminComment">
		delete from comment where co_num=#{co_num}
	</delete>

	<select id="selectContent"
		resultType="kr.kh.team6.model.vo.CommentVO">
		select * from comment where co_num=#{cNum}
	</select>

	<update id="updateComment">
		update comment set co_content=#{content} where
		co_num=#{cNum}
	</update>

	<select id="selectComment"
		resultType="kr.kh.team6.model.vo.CommentVO">
		select * from comment where co_num=#{cNum}
	</select>

	<delete id="deleteComments">
		delete from comment where co_po_num=#{num}
	</delete>

	<select id="selectCommentList" resultMap="CommentMap">
		select * from comment
	</select>

	<select id="allCommentList" resultMap="CommentMap">
		select * from
		comment
		join
		post
		on
		po_num = co_po_num
		join
		board
		on
		bo_num = po_bo_num
		where
		co_num=
		#{co_num}
	</select>
</mapper>